**/node_modules/*

*.crt
*.key
*.db

credentials.json
token.json
**/uploaded-files/*
.env.db
**/uploaded-files/*.idea/
.env.mailver
package-lock.json
.idea
/frontend/sass/index.css
/frontend/sass/index.css.map

**/.DS_STORE
